include README.md
recursive-include octoprint_PrintJobHistoryExtended/templates *
recursive-include octoprint_PrintJobHistoryExtended/translations *
recursive-include octoprint_PrintJobHistoryExtended/static *
